<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-outStock-edit">

		<input name="sn"  type="hidden" id="sn" th:value="${inventory.sn}"/>

		<div class="form-group">
			<label class="col-sm-3 control-label">Item Code:</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" readonly="true" name="itemCode" id="itemCode" th:value="${inventory.itemCode}">
			</div>
		</div>


		<div class="form-group">
			<label class="col-sm-3 control-label">Batch:</label>
			<div class="col-sm-8">
				<input class="form-control" type="text"  readonly="true" name="batch" id="batch" th:value="${inventory.batch}">
			</div>
		</div>


		<div class="form-group">
			<label class="col-sm-3 control-label">Warehouse:</label>
			<div class="col-sm-3">
				<input class="form-control" type="text" readonly="true"  name="warehouse" id="warehouse" th:value="${inventory.warehouse}">
			</div>
			<label class="col-sm-2 control-label">Position:</label>
			<div class="col-sm-3">
				<input class="form-control" type="text" readonly="true"  name="position" id="position" th:value="${inventory.position}">
			</div>
		</div>


		<div class="form-group">
			<label class="col-sm-3 control-label">Quantity in Inventory:</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" name="quantity" readonly="true" id="quantity" th:value="${inventory.quantity}">
			</div>
			<label class="col-sm-3 control-label">Stock Out Quantity:</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" name="quantityStockOut"  id="quantityStockOut" >
			</div>
		</div>


		<div class="form-group">
			<label class="col-sm-3 control-label">Price Purchase:</label>
			<div class="col-sm-3">
				<input class="form-control" type="text" name="pricePurchase" readonly="true" id="pricePurchase" th:value="${inventory.pricePurchase}">
			</div>
			<label class="col-sm-2 control-label">FOB Ontario:</label>
			<div class="col-sm-3">
				<input class="form-control" type="text" name="priceFobOntario"  readonly="true" id="priceFobOntario" th:value="${inventory.priceFobOntario}">
			</div>
		</div>


		<div class="form-group">
			<label class="col-sm-3 control-label">Vendor Id:</label>
			<div class="col-sm-3">
				<input class="form-control" type="text" name="vendorId"  readonly="true" id="vendorId" th:value="${inventory.vendorId}">
			</div>
			<label class="col-sm-2 control-label">Customer Id:</label>
			<div class="col-sm-3">
				<input class="form-control" type="text" name="customerId"  id="customerId" >
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">Irradiation:</label>
			<div class="col-sm-8">
				<input id="irradiation" name="irradiation" class="form-control" readonly="true" type="text"  th:value="${inventory.irradiation}">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">Tpc:</label>
			<div class="col-sm-8">
				<input id="tpc" name="tpc" class="form-control"  readonly="true" type="text" th:value="${inventory.tpc}">
			</div>
		</div>



		<div class="form-group">
			<label class="col-sm-3 control-label">Remark:</label>
			<div class="col-sm-8">
				<input id="remark" name="remark" class="form-control" type="text"  th:value="${inventory.remark}">
			</div>
		</div>
		<div class="form-group">
			<div class="form-control-static col-sm-offset-9">
				<button type="submit" class="btn btn-primary">Stock Out</button>
				<button th:onclick="'javascript:layer_close()'" class="btn btn-danger" type="button">Close</button>
			</div>
		</div>

	</form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/feng/inventory/outStock/edit.js">
</script>
</body>
</html>
