<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header">
	<style>
		.ui-autocomplete {
			max-height: 50px; //默认最大高度150像素
		overflow-y: auto; //添加滚动条
			/* prevent horizontal scrollbar */
		overflow-x: hidden;
		}
	</style>
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-salesReturn-add">
			<input name="sn"  type="hidden" id="sn"/>

			<div class="form-group">
				<label class="col-sm-2 control-label">Customer Name:</label>
				<div class="col-sm-10">
					<input class="form-control" type="text" name="customerName" id="customerName">
				</div>
				<input name="customerId"  type="hidden" id="customerId"/>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Item Code:</label>
				<div class="col-sm-2">
					<input class="form-control" type="text" name="itemCode" id="itemCode">
				</div>
				<label class="col-sm-2 control-label">Item Name:</label>
				<div class="col-sm-6">
					<input class="form-control" type="text" name="itemName" id="itemName" readonly="true">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">Batch No:</label>
				<div class="col-sm-2">
					<input class="form-control" type="text" name="batch" id="batch" readonly="true">
				</div>
				<label class="col-sm-2 control-label">Out Location:</label>
				<div class="col-sm-2">
					<input class="form-control" type="text" name="outWarehouse" id="outWarehouse" readonly="true">
				</div>
				<label class="col-sm-2 control-label">Out Position:</label>
				<div class="col-sm-2">
					<input class="form-control" type="text" name="outPosition" id="outPosition" readonly="true">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Vendor Name:</label>
				<div class="col-sm-10">
					<input class="form-control" type="text" name="vendorName" id="vendorName" readonly="true">
				</div>
				<input name="vendorId"  type="hidden" id="vendorId"/>
				<input name="stockoutSn"  type="hidden" id="stockoutSn"/>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Out Quantity(KG):</label>
				<div class="col-sm-2">
					<input class="form-control" type="text" name="outQuantity" id="outQuantity" readonly="true">
				</div>
				<label class="col-sm-2 control-label">&nbsp;</label>
				<div class="col-sm-2">
					&nbsp;
				</div>
				<label class="col-sm-2 control-label">Date:</label>
				<div class="col-sm-2">
					<input class="form-control" type="text" name="returnDate" id="returnDate" th:value="${today}">
				</div>

			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">&nbsp;</label>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">Return Quantity(KG):</label>
				<div class="col-sm-2">
					<input class="form-control" type="text" name="quantity" id="quantity">
				</div>
				<label class="col-sm-2 control-label">Location:</label>
				<div class="col-sm-2">
					<input class="form-control" type="text" name="warehouse" id="warehouse">
				</div>
				<label class="col-sm-2 control-label">Position:</label>
				<div class="col-sm-2">
					<input class="form-control" type="text" name="position" id="position">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Remark:</label>
				<div class="col-sm-10">
					<textarea id="remark" name="remark" rows="3" class="form-control" type="text"></textarea>
				</div>
			</div>

			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">Submit</button>
					<button th:onclick="'javascript:layer_close()'" class="btn btn-danger" type="button">Close</button>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/plugins/autoComplete/jquery.autocomplete.min.js"></script>
	<link rel="stylesheet" href="/js/plugins/autoComplete/jquery-ui.css">
	<script  type="text/javascript" src="/js/plugins/autoComplete/jquery-ui.js"></script>
	<script type="text/javascript" src="/feng/inventory/salesReturn/add.js">
	</script>
</body>
</html>
