<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header">
	<style>
		.ui-autocomplete {
			max-height: 50px; //默认最大高度150像素
		overflow-y: auto; //添加滚动条
			/* prevent horizontal scrollbar */
		overflow-x: hidden;
		}
	</style>
</head>
<link href="/ajax/libs/select/select2.css" rel="stylesheet">
<link href="/feng/css/feng.css?v=1.0.8" rel="stylesheet"/>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-demand-add">
			<input name="demandId"  type="hidden" id="demandId"/>
			<div class="form-group">
				<label class="col-sm-3 control-label">Demand Date:</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="demandDate" id="demandDate" th:value="${today}">
				</div>
			</div>
			<!--<div class="form-group">-->
				<!--<label class="col-sm-3 control-label">Vendor Id:</label>-->
				<!--<div class="col-sm-8">-->
					<!--<input class="form-control" type="text" name="vendorId" id="vendorId">-->
				<!--</div>-->
			<!--</div>-->
			<div class="form-group">
				<label class="col-sm-3 control-label">Vendor Name:</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="vendorName" id="vendorName">
				</div>
				<input name="vendorId"  type="hidden" id="vendorId"/>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Item Code:</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" name="itemCode" id="itemCode">
				</div>
				<!--<label class="col-sm-2 control-label">Specification:</label>-->
				<!--<div class="col-sm-3">-->
					<!--<input class="form-control" type="text" readonly="true" name="specification" id="specification">-->
				<!--</div>-->
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Item Name:</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="itemName" id="itemName">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Price:</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" name="price" id="price">
				</div>
				<label class="col-sm-2 control-label">Quantity:</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" name="quantity" id="quantity">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Urgency Degree:</label>
				<div class="col-sm-3">
					<select id="urgencyDegree" name="urgencyDegree" class="form-control select2-hidden-accessible">
						<option value="">--Urgency or not--</option>
						<option th:each="cate:${listUrgencyDegree}" th:value="${cate.dictLabel}" th:text="${cate.dictLabel}"></option>
					</select>
					<!--<input class="form-control" type="text" name="urgencyDegree" id="urgencyDegree">-->
				</div>
				<!--<label class="col-sm-2 control-label">Create By:</label>-->
				<!--<div class="col-sm-3">-->
					<!--<input class="form-control" type="text" name="createBy" id="createBy">-->
				<!--</div>-->
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Remark:</label>
				<div class="col-sm-8">
					<textarea id="remark" name="remark" rows="3" class="form-control" type="text"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">Submit</button>
					<button th:onclick="'javascript:layer_close()'" class="btn btn-danger" type="button">Close</button>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/plugins/autoComplete/jquery.autocomplete.min.js"></script>
	<link rel="stylesheet" href="/js/plugins/autoComplete/jquery-ui.css">
	<script  type="text/javascript" src="/js/plugins/autoComplete/jquery-ui.js"></script>
	<script type="text/javascript" src="/feng/purchase/demand/add.js"></script>
	<script src="/ajax/libs/select/select2.js"></script>
</body>
</html>
