<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content">
		<div class="btn-group hidden-xs" id="tableToolbar" role="group">
			<button type="button" class="btn btn-outline btn-default" th:onclick="'javascript:add()'" shiro:hasPermission="purchase:demand:add">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
			<button type="button" class="btn btn-outline btn-default" th:onclick="'javascript:batchDone()'" shiro:hasPermission="purchase:demand:batchDone">
				<i class="glyphicon glyphicon-bookmark"></i>
			</button>
			<button type="button" class="btn btn-outline btn-default" th:onclick="'javascript:batchRemove()'" shiro:hasPermission="purchase:demand:batchRemove">
	            <i class="glyphicon glyphicon-trash"></i>
	        </button>
        </div>
		<table class="bootstrap-table" data-mobile-responsive="true" 
			   data-sort-name="demand_id" data-sort-order="asc">
		</table>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/feng/purchase/demand/demand.js"></script>
</body>
</html>