<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-customer-edit">
        <input name="customerId"  type="hidden" id="customerId" th:value="${customer.customerId}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label">Vendor Name:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="customerName" id="customerName" th:value="${customer.customerName}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">FULL Name:</label>
            <div class="col-sm-1" style="padding-right: 0px; padding-left: 15px;">
                <input class="form-control" type="text" name="nameTitle" id="nameTitle" th:value="${customer.nameTitle}" style="padding: 5px 5px; ">
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="firstName" id="firstName" th:value="${customer.firstName}">
            </div>
            <div class="col-sm-1" style="padding-right: 5px; padding-left: 5px;">
                <input class="form-control" type="text" name="middleName" id="middleName" th:value="${customer.middleName}">
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="lastName" id="lastName" th:value="${customer.lastName}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Job Title:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="jobTitle" id="jobTitle" th:value="${customer.jobTitle}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Main Phone:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="mainPhone" id="mainPhone" th:value="${customer.mainPhone}">
            </div>
            <label class="col-sm-2 control-label">Work Phone:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="workPhone" id="workPhone" th:value="${customer.workPhone}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Mobile:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="mobile" id="mobile" th:value="${customer.mobile}">
            </div>
            <label class="col-sm-2 control-label">Fax:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="fax" id="fax" th:value="${customer.fax}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Main Mail:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="mainMail" id="mainMail" th:value="${customer.mainMail}">
            </div>
            <label class="col-sm-2 control-label">CC Mail:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="ccMail" id="ccMail" th:value="${customer.ccMail}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Address Ship From:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="addressShipFrom" id="addressShipFrom" th:value="${customer.addressShipTo}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Address Bill From:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="addressBillFrom" id="addressBillFrom" th:value="${customer.addressBillTo}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Remark:</label>
            <div class="col-sm-8">
                <input id="remark" name="remark" class="form-control" type="text" th:value="${customer.remark}">
            </div>
        </div>
        <div class="form-group">
            <div class="form-control-static col-sm-offset-9">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button th:onclick="'javascript:layer_close()'" class="btn btn-danger" type="button">Close</button>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/feng/sales/customer/edit.js">
</script>
</body>
</html>
