<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-inStock-detail">
		<div class="form-group">
			<label class="col-sm-2 control-label">Item Code:</label>
			<div class="col-sm-2 form-control-static" th:text="${stockIn.itemCode}">
			</div>
			<label class="col-sm-2 control-label">Item Name:</label>
			<div class="col-sm-4 form-control-static" th:text="${stockIn.production.itemName}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Item Name CN:</label>
			<div class="col-sm-8 form-control-static" th:text="${stockIn.production.itemNameCn}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Batch:</label>
			<div class="col-sm-2 form-control-static" th:text="${stockIn.batch}">
			</div>
			<label class="col-sm-2 control-label">Warehouse:</label>
			<div class="col-sm-2 form-control-static" th:text="${stockIn.warehouse}">
			</div>
			<label class="col-sm-2 control-label">Position:</label>
			<div class="col-sm-1 form-control-static" th:text="${stockIn.position}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Quantity(KG):</label>
			<div class="col-sm-2 form-control-static" th:text="${stockIn.quantity}">
			</div>
			<label class="col-sm-2 control-label">Price Purchase:</label>
			<div class="col-sm-2 form-control-static" th:text="${stockIn.pricePurchase}">
			</div>
			<label class="col-sm-2 control-label">FOB Ontario:</label>
			<div class="col-sm-2 form-control-static" th:text="${stockIn.priceFobOntario}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Irradiation:</label>
			<div class="form-control-static" th:text="${stockIn.irradiation}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">TPC:</label>
			<div class="form-control-static" th:text="${stockIn.tpc}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Vendor Name:</label>
			<div class="form-control-static" th:text="${stockIn.vendor.vendorName}">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Attachment:</label>
			<div class="form-group" style="max-height: 140px; OVERFLOW-Y: auto; OVERFLOW-X:hidden; margin-right: -5px; margin-bottom: 0;" id="tableDiv">
				<div class="form-control-static" th:id = "'div'+${iterStat.index}" th:each="attachment,iterStat :${attachmentList}">
					<a class="btn btn-warning btn-sm" href="#" title="Download" th:onclick="'javascript:download( '+${attachment.attachmentId} +' )'"><span th:text="${attachment.attachmentName}"></a>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="form-control-static col-sm-offset-9">
				<button th:onclick="'javascript:layer_close()'" class="btn btn-danger" type="button">Close</button>
			</div>
		</div>
	</form>
    </div>
    <div th:include="include :: footer"></div>
	<script type="text/javascript" src="/feng/inventory/inStock/detail.js">
	</script>
</body>
</html>