<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="signupForm">
		<div class="form-group">
			<label class="col-sm-2 control-label">Item Code:</label>
			<div class="col-sm-2 form-control-static" th:text="${queryInventory.itemCode}">
			</div>
			<label class="col-sm-2 control-label">Item Name:</label>
			<div class="col-sm-4 form-control-static" th:text="${queryInventory.production.itemName}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Item Name CN:</label>
			<div class="col-sm-8 form-control-static" th:text="${queryInventory.production.itemNameCn}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Batch No:</label>
			<div class="col-sm-8 form-control-static" th:text="${queryInventory.batch}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Vendor Name:</label>
			<div class="col-sm-8 form-control-static" th:text="${queryInventory.vendor.vendorName}">
			</div>
		</div>

		<div style="border: 1px solid #ddd; padding: 10px;">
			<div class="col-sm-2" style="padding: 0;">Location</div>
			<div class="col-sm-2" style="padding: 0;">Position</div>
			<div class="col-sm-2" style="padding: 0;">Quantity(KG)</div>
			<div class="col-sm-2" style="padding: 0;">Stock In Date</div>
            <div class="col-sm-2" style="padding: 0;">Purchase Price</div>
            <div class="col-sm-2" style="padding: 0;">FOB Price</div>
			<div class="clear"></div>
			<div class="form-group" style="max-height: 140px; OVERFLOW-Y: auto; OVERFLOW-X:hidden; margin-right: -5px; margin-bottom: 0;" id="tableDiv">
				<div style="height: 34px; padding: 0px 10px 0px 16px;" th:id = "'div'+${iterStat.index}" th:each="oneInventory,iterStat :${detailList}">
					<input  type="text" class="col-sm-2" readonly="true" th:value="${oneInventory.warehouse}" style="margin: 0px -1px;">
					<input  type="text" class="col-sm-2" readonly="true" th:value="${oneInventory.position}" style="margin: 0px -1px;">
					<input  type="text" class="col-sm-2" readonly="true" th:value="${oneInventory.quantity}" style="margin: 0px -1px;">
					<input  type="text" class="col-sm-2" readonly="true" th:value="${oneInventory.stockInDate}" style="margin: 0px -1px;">
                    <input  type="text" class="col-sm-2" readonly="true" th:value="${oneInventory.pricePurchase}" style="margin: 0px -1px;">
                    <input  type="text" class="col-sm-2" readonly="true" th:value="${oneInventory.priceFobOntario}" style="margin: 0px -1px;">
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="form-control-static col-sm-offset-9">
				<button th:onclick="'javascript:layer_close()'" class="btn btn-danger" type="button">Close</button>
			</div>
		</div>
	</form>
    </div>
    <div th:include="include :: footer"></div>
</body>
</html>