<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feng.project.inventory.instock.dao.IStockInDao" >
    <resultMap id="BaseResultMap" type="com.feng.project.inventory.instock.domain.StockIn" >
        <id column="sn"  property="sn" />
        <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
        <result column="batch" jdbcType="VARCHAR" property="batch" />
        <result column="warehouse" jdbcType="VARCHAR" property="warehouse" />
        <result column="position" jdbcType="VARCHAR" property="position" />
        <result column="price_purchase"  property="pricePurchase" />
        <result column="price_fob_ontario"  property="priceFobOntario" />
        <result column="quantity"  property="quantity" />
        <result column="irradiation" jdbcType="VARCHAR" property="irradiation" />
        <result column="tpc" jdbcType="VARCHAR" property="tpc" />
        <result column="vendor_id"  property="vendorId" />
        <result column="customer_id"  property="customerId" />
        <result column="status" property="status" />
        <result column="stock_in_date" jdbcType="TIMESTAMP" property="stockInDate" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <association property="production"    column="item_code" javaType="Production" resultMap="prodResult"/>
        <association property="vendor"    column="vendor_id" javaType="Vendor" resultMap="vendorResult"/>
    </resultMap>

    <resultMap id="prodResult" type="Production">
        <id     property="productionId"   column="production_id" />
        <result property="itemCode" column="item_code" />
        <result property="itemName" column="item_name"     />
        <result property="itemNameCn" column="item_name_cn"     />
        <result property="specification" column="specification" />
    </resultMap>

    <resultMap id="vendorResult" type="Vendor">
        <id     property="vendorId"   column="vendor_id" />
        <result property="vendorName" column="vendor_name" />
    </resultMap>


    <sql id="Base_Column_List" >
        sn, item_code, batch, warehouse, position, price_purchase, price_fob_ontario, quantity,
    irradiation, tpc, vendor_id, customer_id, status, stock_in_date, create_by, create_time,
    update_by, update_time, remark
    </sql>



    <select id="selectStockInList" parameterType="com.feng.project.inventory.instock.domain.StockIn" resultMap="BaseResultMap">
        select i.* , p.production_id, p.item_code, p.item_name, p.item_name_cn, p.specification , v.vendor_name
        from inv_inventory_in i left join pro_production p on p.item_code = i.item_code
        left join pur_vendor v on v.vendor_id = i.vendor_id
        <where>
            i.status = 0
            <if test="searchValue != null and searchValue != ''">
                AND (i.item_code like CONCAT('%',#{searchValue},'%' ) or i.batch like CONCAT('%',#{searchValue},'%' )
                or p.item_name like CONCAT('%',#{searchValue},'%' ) or p.item_name_cn like CONCAT('%',#{searchValue},'%' ))
            </if>
        </where>
    </select>

    <select id="selectStockInById" parameterType="Long" resultMap="BaseResultMap">
		select i.* , p.production_id, p.item_code, p.item_name, p.item_name_cn, p.specification , v.vendor_name
        from inv_inventory_in i left join pro_production p on p.item_code = i.item_code
        left join pur_vendor v on v.vendor_id = i.vendor_id
        where i.status = 0 and i.sn = #{sn}
	</select>

    <parameterMap type="java.util.HashMap" id="inStockParams">
        <parameter property="itemCode" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN" />
        <parameter property="batch" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN" />
        <parameter property="warehouse" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN" />
        <parameter property="position" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN" />
        <parameter property="pricePurchase" jdbcType="DOUBLE" javaType="java.lang.Double" mode="IN" />
        <parameter property="priceFobOntario" jdbcType="DOUBLE" javaType="java.lang.Double" mode="IN" />
        <parameter property="quantity"  jdbcType="DOUBLE"  javaType="java.lang.Double"  mode="IN" />
        <parameter property="irradiation" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN" />
        <parameter property="tpc" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN" />
        <parameter property="vendorId"  jdbcType="INTEGER"   javaType="java.lang.String"  mode="IN" />
        <parameter property="createBy" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN" />
        <parameter property="attachmentName" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN" />
        <parameter property="attachmentUuid" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN" />
        <parameter property="remark" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN" />
        <parameter property="result"  jdbcType="VARCHAR" javaType="java.lang.String" mode="OUT" />
    </parameterMap>

    <parameterMap type="java.util.HashMap" id="inStockParamsId">
        <parameter property="sn"  jdbcType="INTEGER"   javaType="java.lang.Integer" mode="IN" />
        <parameter property="result"  jdbcType="VARCHAR" javaType="java.lang.String" mode="OUT" />
    </parameterMap>

    <insert id="spStockIn" parameterMap="inStockParams"
            statementType="CALLABLE">
    <![CDATA[
        {call  sp_stockIn( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ? )}
    ]]>
</insert>

    <delete id="spStockInRemove" parameterMap="inStockParamsId"
            statementType="CALLABLE">
    <![CDATA[
        {call  sp_stockInRemove(?, ?)}
    ]]>
    </delete>




</mapper>