<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feng.project.inventory.queryinventory.dao.IQueryInventoryDao" >
    <resultMap id="QueryInventoryResult" type="QueryInventory" >
        <id column="sn"  property="sn" />
        <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
        <result column="batch" jdbcType="VARCHAR" property="batch" />
        <result column="warehouse" jdbcType="VARCHAR" property="warehouse" />
        <result column="position" jdbcType="VARCHAR" property="position" />
        <result column="price_purchase"  property="pricePurchase" />
        <result column="price_fob_ontario"  property="priceFobOntario" />
        <result column="quantity"  property="quantity" />
        <result column="irradiation" jdbcType="VARCHAR" property="irradiation" />
        <result column="tpc" jdbcType="VARCHAR" property="tpc" />
        <result column="vendor_id"  property="vendorId" />
        <result column="customer_id"  property="customerId" />
        <result column="status" property="status" />
        <result column="stock_in_date" jdbcType="TIMESTAMP" property="stockInDate" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <association property="production"    column="item_code" javaType="Production" resultMap="prodResult"/>
        <association property="vendor"    column="vendor_id" javaType="Vendor" resultMap="vendorResult"/>
    </resultMap>

    <resultMap id="prodResult" type="Production">
        <id     property="productionId"   column="production_id" />
        <result property="itemCode" column="item_code" />
        <result property="itemName" column="item_name"     />
        <result property="itemNameCn" column="item_name_cn"     />
        <result property="specification" column="specification" />
    </resultMap>

    <resultMap id="vendorResult" type="Vendor">
        <id     property="vendorId"   column="vendor_id" />
        <result property="vendorName" column="vendor_name" />
    </resultMap>

    <!--<association property="customer"  column="customer_id" javaType="Customer" resultMap="customerResult"/>-->
    <!--<resultMap id="customerResult" type="Customer">-->
        <!--<id     property="customerId"   column="customer_id" />-->
        <!--<result property="customerName" column="customer_name" />-->
    <!--</resultMap>-->

    <select id="selectQueryInventoryList" parameterType="QueryInventory" resultMap="QueryInventoryResult">
        select i.* , p.production_id, p.item_code, p.item_name, p.item_name_cn, p.specification , v.vendor_name
        from inv_inventory i left join pro_production p on p.item_code = i.item_code
        left join pur_vendor v on v.vendor_id = i.vendor_id
        <where>
            i.status = 0
            <if test="searchValue != null and searchValue != ''">
                AND (i.item_code like CONCAT('%',#{searchValue},'%' ) or i.batch like CONCAT('%',#{searchValue},'%' )
                or p.item_name like CONCAT('%',#{searchValue},'%' ) or p.item_name_cn like CONCAT('%',#{searchValue},'%' ))
            </if>
        </where>
    </select>

    <select id="selectQueryInventoryGroupByBatch" parameterType="QueryInventory" resultMap="QueryInventoryResult">
        select inv.max_sn as sn, inv.item_code, inv.batch, inv.sum_quantity as quantity, inv.vendor_id,
        p.production_id, p.item_name, p.item_name_cn, p.specification , v.vendor_name
        from (select max(i.sn) as max_sn, i.item_code, i.batch, sum(i.quantity) as sum_quantity, i.vendor_id from inv_inventory i
        where i.status=0 and i.quantity>=0.001
        group by i.item_code, i.batch, i.vendor_id) inv left join pro_production p on p.item_code = inv.item_code
        left join pur_vendor v on v.vendor_id = inv.vendor_id where inv.sum_quantity>=0.001
        <if test="searchValue != null and searchValue != ''">
            AND ( inv.item_code like CONCAT('%',#{searchValue},'%' ) or inv.batch like CONCAT('%',#{searchValue},'%' )
                   or p.item_name like CONCAT('%',#{searchValue},'%' ) or p.item_name_cn like CONCAT('%',#{searchValue},'%' ) )
        </if>


    </select>

    <select id="selectQueryInventoryById" parameterType="Long" resultMap="QueryInventoryResult">
		select i.* , p.production_id, p.item_code, p.item_name, p.item_name_cn, p.specification , v.vendor_name
        from inv_inventory i left join pro_production p on p.item_code = i.item_code
        left join pur_vendor v on v.vendor_id = i.vendor_id
        where i.status = 0 and sn = #{sn}
	</select>

    <resultMap id="QueryInventoryBatchResult" type="QueryInventory" >
        <id column="sn"  property="sn" />
        <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
        <result column="batch" jdbcType="VARCHAR" property="batch" />
        <result column="warehouse" jdbcType="VARCHAR" property="warehouse" />
        <result column="position" jdbcType="VARCHAR" property="position" />
        <result column="quantity"  property="quantity" />
        <result column="price_purchase"  property="pricePurchase" />
        <result column="price_fob_ontario"  property="priceFobOntario" />
        <result column="stock_in_date"  property="stockInDate" />
        <result column="vendor_id"  property="vendorId" />
        <association property="vendor"    column="vendor_id" javaType="Vendor" resultMap="vendorResult"/>
    </resultMap>

    <select id="selectQueryInventoryListByBatch" resultMap="QueryInventoryBatchResult">
        select i.sn, i.item_code, i.batch, i.warehouse, i.position, i.quantity, i.vendor_id, v.vendor_name
        from inv_inventory i left join pur_vendor v on v.vendor_id = i.vendor_id
        <where>
            i.status = 0
            <if test="itemCode != null and itemCode != ''">
                AND i.item_code = #{itemCode} AND i.batch like CONCAT('%',#{batch},'%' ) and i.quantity>=0.001
            </if>
        </where>
    </select>

    <select id="selectQueryInventoryListEqualBatch" resultMap="QueryInventoryBatchResult">
        select i.sn, i.item_code, i.batch, i.warehouse, i.position, i.quantity, i.price_purchase, i.price_fob_ontario, date_format(i.stock_in_date ,'%Y-%m-%d' ) as stock_in_date
        from inv_inventory i
        <where>
            i.status = 0 AND i.item_code = #{itemCode} AND i.batch = #{batch} AND i.vendor_id = #{vendorId} and i.quantity>=0.001
        </where>
    </select>

    <select id="selectQueryInventoryListByItemCode" resultMap="QueryInventoryBatchResult">
        select i.sn, i.item_code, i.batch, i.warehouse, i.position, i.quantity, i.price_purchase, i.price_fob_ontario, date_format(i.stock_in_date ,'%Y-%m-%d' ) as stock_in_date
        from inv_inventory i
        <where>
            i.status = 0 AND i.item_code = #{itemCode} and i.quantity>=0.001
        </where>
    </select>

    <select id="checkItemBatchUnique" parameterType="QueryInventory" resultType="int">
		select count(*) from inv_inventory i where i.status = 0 and i.item_code=#{itemCode} and i.batch=#{batch}
	</select>

</mapper>