<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.project.sales.quote.dao.IQuoteDao">

    <resultMap type="Quote" id="QuoteResult">
        <id     property="quoteId"        column="quote_id"       />
        <result property="quoteDate"      column="quote_date"     />
        <result property="customerId"      column="customer_id"     />
        <result property="reminder"      column="reminder"     />
        <result property="status"        column="status"        />
        <result property="createBy"      column="create_by"     />
        <result property="createTime"    column="create_time"   />
        <result property="updateBy"      column="update_by"     />
        <result property="updateTime"    column="update_time"   />
        <result property="remark"        column="remark"        />
        <result property="quoteBodyId"      column="quote_body_id"     />
        <result property="itemCode"      column="item_code"     />
        <result property="price"      column="price"     />
        <result property="quantity"      column="quantity"     />
        <result property="itemName"      column="item_name"     />
        <result property="customerName"      column="customer_name"     />
    </resultMap>

    <select id="selectQuoteList" parameterType="Quote" resultMap="QuoteResult">

        select * from (select i.*,b.quote_body_id,b.item_code,b.price,b.quantity,
        (select v.customer_name from sale_customer v where v. customer_id = i. customer_id) as customer_name,
        (select item_name from pro_production p where p.item_code = b.item_code and p.status=0 ) as item_name
        from sale_quote i left join sale_quote_body b on i.quote_id = b.quote_id  where   i.status = 0
        ) tt
        <where>
            <if test="searchValue != null and searchValue != ''">
                tt.item_name like CONCAT('%',#{searchValue},'%' )
            </if>
        </where>
    </select>


    <insert id="insertQuote" parameterType="Quote" useGeneratedKeys="true" keyProperty="quoteId">
    insert into sale_quote(
        <if test="quoteDate != null ">quote_date,</if>
        <if test="customerId != null ">customer_id,</if>
        <if test="reminder != null ">reminder,</if>
        <if test="createBy != null ">create_by,</if>
        <if test="remark != null ">remark,</if>
        create_time
        )values(
        <if test="quoteDate != null ">#{quoteDate},</if>
        <if test="customerId != null ">#{customerId},</if>
        <if test="reminder != null ">#{reminder},</if>
        <if test="createBy != null ">#{createBy},</if>
        <if test="remark != null ">#{remark},</if>
        sysdate()
        )

    	</insert>


    <select id="selectQuoteById" parameterType="Long" resultMap="QuoteResult">
            SELECT *
            FROM sale_quote, sale_customer
            WHERE sale_quote.customer_id = sale_customer.customer_id and  quote_id=#{quoteId}
        </select>

    <update id="deleteQuoteById" parameterType="Long">
        update   sale_quote set status="1"  where quote_id=#{quoteId}
	</update>

    <update id="updateQuote" parameterType="Quote">
        update sale_quote
        <set>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="reminder != null ">reminder = #{reminder},</if>
            <if test="quoteDate != null ">quote_date = #{quoteDate},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            update_by = #{updateBy},
            update_time = sysdate()
        </set>
          where  quote_id=#{quoteId}
    </update>
</mapper>