<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.project.sales.quote.dao.IQuoteBodyDao">

    <resultMap type="QuoteBody" id="QuoteBodyResult">
        <id     property="quoteBodyId"        column="quote_body_id"   />
        <result property="quoteId"      column="quote_id"     />
        <result property="itemCode"      column="item_code"     />
        <result property="price"      column="price" />
        <result property="quantity"      column="quantity"     />
        <result property="itemName"      column="item_name"     />
        <result property="specification"      column="specification"     />
    </resultMap>




    <insert id="batchQuoteBody">
        insert into sale_quote_body(quote_id, item_code,price,quantity) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.quoteId},#{item.itemCode},#{item.price},#{item.quantity})
        </foreach>
    </insert>

    <delete id="deleteQuoteBodyById" parameterType="Long">
		delete from sale_quote_body where quote_body_id = #{quoteBodyId}
 	</delete>

    <select id="checkQuoteUsed" parameterType="Long" resultType="int">
		select count(*) from sale_quote_body  where  quote_id=#{quoteId}
	</select>

    <!--<select id="checkQuoteUsed" parameterType="Long" resultType="int">-->
		<!--select count(*) from sale_quote_body  where  quote_id=#{quoteId}-->
	<!--</select>-->

    <select id="selectBodyByQuoteId" parameterType="Long" resultMap="QuoteBodyResult">
		select sale_quote_body.* ,pro_production.item_name,pro_production.specification
        from sale_quote_body,pro_production
        where sale_quote_body.item_code =pro_production.item_code and quote_id=#{quoteId}
	</select>


    <update id="batchDeleteQuoteBody" parameterType="String">
        delete from sale_quote_body where quote_body_id in
        <foreach collection="array" item="quoteBodyId" open="(" separator="," close=")">
            #{quoteBodyId}
        </foreach>
    </update>


    <delete id="batchDeleteQuoteBodyOnType" parameterType="java.util.HashMap">
        delete from sale_quote_body where quote_id=#{quoteId} and quote_body_id  not in
        <foreach collection="ids" item="quoteBodyId" open="(" separator="," close=")">
            #{quoteBodyId}
        </foreach>
    </delete>



    <update id="updateQuoteBody" parameterType="QuoteBody">
        update sale_quote_body
        <set>
            <if test="itemCode != null ">item_code = #{itemCode},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="quantity != null ">quantity = #{quantity}</if>
        </set>
        where quote_body_id = #{quoteBodyId}
    </update>

</mapper>