<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-sample-edit">
        <input id="sampleId" name="sampleId"  type="hidden" th:value="${sample.sampleId}" />
        <input name="customerId"  type="hidden" id="customerId"  th:value="${sample.customerId}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label ">Sample Date:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="sampleDate" id="sampleDate" th:value="${sample.sampleDate}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">Customer Name:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="customerName" id="customerName" th:value="${sample.customerName}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Reminder:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="reminder" id="reminder" th:value="${sample.reminder}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Remark:</label>
            <div class="col-sm-8">
                <input id="remark" name="remark" class="form-control" type="text" th:value="${sample.remark}">
            </div>
        </div>

        <div style="border: 1px solid #ddd; border-bottom: 0; padding: 10px; background: #f2f2f2;">
            <input class="btn btn-info" style="padding: 3px 6px; border-radius: 0;" type="button" value="Add Sample Data"  id="add"/></div>
        <div style="border: 1px solid #ddd; padding: 10px;">
            <div class="col-sm-2" style="padding: 0;">Item Code</div>
            <div class="col-sm-3" style="padding: 0;">Item Name</div>
            <div class="col-sm-2" style="padding: 0;">Spec</div>
            <div class="col-sm-2" style="padding: 0;">Price</div>
            <div class="col-sm-2" style="padding: 0;">Quantity(g)</div>
            <div class="clear"></div>
            <div class="form-group" style="max-height: 140px; OVERFLOW-Y: auto; OVERFLOW-X:hidden; margin-right: -5px; margin-bottom: 0;" id="tableDiv">
                <div style="height: 34px; padding: 0px 10px 0px 16px;" th:id = "'div'+${iterStat.index}" th:each="sampleData,iterStat :${sampleBodies}">
                    <input  type="hidden" name="itemId" th:id = "'itemId'+${iterStat.index}" th:value="${sampleData.sampleBodyId}">
                    <input  type="text" class="col-sm-2" name="itemCode" readonly="true" th:id = "'itemCode'+${iterStat.index}" th:value="${sampleData.itemCode}" style="color:blue; margin: 0px -1px;">
                    <input  type="text" class="col-sm-3" name="itemName" readonly="true" th:id = "'itemName'+${iterStat.index}" th:value="${sampleData.itemName}" style="color:blue; margin: 0px -1px;">
                    <input  type="text" class="col-sm-2" name="specification" readonly="true" th:id = "'specification'+${iterStat.index}" th:value="${sampleData.specification}" style="color:blue; margin: 0px -1px;">
                    <input  type="text" class="col-sm-2" name="price" th:id = "'price'+${iterStat.index}" th:value="${sampleData.price}" style="margin: 0px -1px;">
                    <input  type="text" class="col-sm-2" name="quantity" th:id = "'quantity'+${iterStat.index}" th:value="${sampleData.quantity}" style="margin: 0px -1px;">
                    <button  type="button" class="col-sm-1" th:onclick="'javascript:delButton(\'div'+${iterStat.index}+'\');'" style="margin: 0px 0px 0px 3px; height: 24px; padding: 0px;">Remove</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-control-static col-sm-offset-9">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button th:onclick="'javascript:layer_close()'" class="btn btn-danger" type="button">Close</button>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/plugins/autoComplete/jquery.autocomplete.min.js"></script>
<link rel="stylesheet" href="/js/plugins/autoComplete/jquery-ui.css">
<script  type="text/javascript" src="/js/plugins/autoComplete/jquery-ui.js"></script>
<script type="text/javascript" src="/feng/sales/sample/edit.js"/>

</body>
</html>
