<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-inquiry-add">
        <input name="inquiryId"  type="hidden" id="inquiryId"/>
        <div class="form-group">
            <label class="col-sm-3">Inquiry Date:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="inquiryDate" id="inquiryDate" th:value="${today}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">Vendor Name:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="vendorName" id="vendorName" >
            </div>
            <input name="vendorId"  type="hidden" id="vendorId"/>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="col-sm-3">Reminder:</label>-->
            <!--<div class="col-sm-9">-->
                <!--<input class="form-control" type="text" name="reminder" id="reminder" value="3" >-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <label class="col-sm-3">Remark:</label>
            <div class="col-sm-9">
                <textarea id="remark" name="remark" class="form-control" rows="3" type="text"></textarea>
            </div>
        </div>

        <div style="border: 1px solid #ddd; border-bottom: 0; padding: 10px; background: #f2f2f2;">
            <input class="btn btn-info" style="padding: 3px 6px; border-radius: 0;" type="button" value="Add Quota"  id="add"/>
        </div>

        <div style="border: 1px solid #ddd; padding: 10px;">
            <div class="col-sm-2" style="padding: 0;">Item Code</div>
            <div class="col-sm-3" style="padding: 0;">Item Name</div>
            <div class="col-sm-2" style="padding: 0;">Spec</div>
            <div class="col-sm-2" style="padding: 0;">Price</div>
            <div class="col-sm-2" style="padding: 0;">Quantity(KG)</div>
            <div class="clear"></div>
            <div class="form-group"  id="tableDiv"  style="max-height: 140px; OVERFLOW-Y: auto; OVERFLOW-X:hidden; margin-right: -5px; margin-bottom: 0;">
            </div>
        </div>

        <div class="form-group" style="margin-top: 5px;">
            <div class="form-control-static" style="text-align: right; padding-right: 15px;">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button th:onclick="'javascript:layer_close()'" class="btn btn-danger" type="button">Close</button>
            </div>
        </div>
    </form>


</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/plugins/autoComplete/jquery.autocomplete.min.js"></script>
<link rel="stylesheet" href="/js/plugins/autoComplete/jquery-ui.css">
<script  type="text/javascript" src="/js/plugins/autoComplete/jquery-ui.js"></script>
<script type="text/javascript" src="/feng/purchase/inquiry/add.js"></script>

</body>
</html>
