<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.project.purchase.inquiry.dao.IInquiryDao">

    <resultMap type="Inquiry" id="InquiryResult">
        <id     property="inquiryId"        column="inquiry_id"       />
        <result property="inquiryDate"      column="inquiry_date"     />
        <result property="vendorId"      column="vendor_id"     />
        <result property="reminder"      column="reminder"     />
        <result property="status"        column="status"        />
        <result property="createBy"      column="create_by"     />
        <result property="createTime"    column="create_time"   />
        <result property="updateBy"      column="update_by"     />
        <result property="updateTime"    column="update_time"   />
        <result property="remark"        column="remark"        />
        <result property="inquiryBodyId"      column="inquiry_body_id"     />
        <result property="itemCode"      column="item_code"     />
        <result property="price"      column="price"     />
        <result property="quantity"      column="quantity"     />
        <result property="itemName"      column="item_name"     />
        <result property="vendorName"      column="vendor_name"     />
    </resultMap>

    <select id="selectInquiryList" parameterType="Inquiry" resultMap="InquiryResult">

        select * from (select i.*,b.inquiry_body_id,b.item_code,b.price,b.quantity,
        (select v.vendor_name from pur_vendor v where v. vendor_id = i. vendor_id) as vendor_name,
        (select item_name from pro_production p where p.item_code = b.item_code and p.status=0 ) as item_name
        from pur_inquiry i left join pur_inquiry_body b on i.inquiry_id = b.inquiry_id  where   i.status = 0
        ) tt
        <where>
            <if test="searchValue != null and searchValue != ''">
                tt.item_code like CONCAT('%',#{searchValue},'%' )
                or tt.item_name like CONCAT('%',#{searchValue},'%' )
                or tt.vendor_name like CONCAT('%',#{searchValue},'%' )
            </if>
        </where>
    </select>


    <insert id="insertInquiry" parameterType="Inquiry" useGeneratedKeys="true" keyProperty="inquiryId">
    insert into pur_inquiry(
        <if test="inquiryDate != null ">inquiry_date,</if>
        <if test="vendorId != null ">vendor_id,</if>
        <if test="reminder != null ">reminder,</if>
        <if test="createBy != null ">create_by,</if>
        <if test="remark != null ">remark,</if>
        create_time
        )values(
        <if test="inquiryDate != null ">#{inquiryDate},</if>
        <if test="vendorId != null ">#{vendorId},</if>
        <if test="reminder != null ">#{reminder},</if>
        <if test="createBy != null ">#{createBy},</if>
        <if test="remark != null ">#{remark},</if>
        sysdate()
        )

    	</insert>


    <select id="selectInquiryById" parameterType="Long" resultMap="InquiryResult">
            SELECT *
            FROM pur_inquiry, pur_vendor
            WHERE pur_inquiry.vendor_id = pur_vendor.vendor_id and  inquiry_id=#{inquiryId}
        </select>

    <update id="deleteInquiryById" parameterType="Long">
        update   pur_inquiry set status="1"  where inquiry_id=#{inquiryId}
	</update>

    <update id="updateInquiry" parameterType="Inquiry">
        update pur_inquiry
        <set>
            <if test="vendorId != null">vendor_id = #{vendorId},</if>
            <if test="reminder != null ">reminder = #{reminder},</if>
            <if test="inquiryDate != null ">inquiry_date = #{inquiryDate},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            update_by = #{updateBy},
            update_time = sysdate()
        </set>
          where  inquiry_id=#{inquiryId}
    </update>
</mapper>