<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css" rel="stylesheet">
<link href="/ajax/libs/iCheck/custom.css" rel="stylesheet">
<link href="/ajax/libs/select/select2.css" rel="stylesheet">
<link href="/feng/css/feng.css?v=1.0.8" rel="stylesheet"/>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-change-password">
        <div class="form-group">
            <div class="form-group">
                <label class="col-sm-3 control-label">new password:</label>
                <div class="col-sm-3">
                    <input class="form-control" type="password" name="newPWD" id="newPWD">
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Retype new password:</label>
                <div class="col-sm-3">
                    <input class="form-control" type="password" name="verifyPWD" id="verifyPWD" >
                </div>

            </div>



            <div class="form-group">
                <div class="form-control-static col-sm-offset-9">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button th:onclick="'javascript:layer_close()'" class="btn btn-danger" type="button">close</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script src="/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js"></script>
<script type="text/javascript" src="/feng/system/user/changePWD.js">
</script>
<script src="/ajax/libs/iCheck/icheck.min.js"></script>
<script src="/ajax/libs/select/select2.js"></script>
<!--<script>-->
<!--$(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});-->
<!--</script>-->
</body>
</html>
