<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-quote-add">
        <input name="quoteId"  type="hidden" id="quoteId"/>
        <div class="form-group">
            <label class="col-sm-3">Quote Date:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="quoteDate" id="quoteDate" th:value="${today}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">Customer Name:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="customerName" id="customerName" >
            </div>
            <input name="customerId"  type="hidden" id="customerId"/>
        </div>
        <div class="form-group">
            <label class="col-sm-3">Reminder:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="reminder" id="reminder" >
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3">Remark:</label>
            <div class="col-sm-9">
                <textarea id="remark" name="remark" class="form-control" rows="3" type="text"></textarea>
            </div>
        </div>

        <div style="border: 1px solid #ddd; border-bottom: 0; padding: 10px; background: #f2f2f2;">
            <input class="btn btn-info" style="padding: 3px 6px; border-radius: 0;" type="button" value="Add Quota"  id="add"/></div>
        <div style="border: 1px solid #ddd; padding: 10px;">
            <div class="col-sm-2" style="padding: 0;">Item Code</div>
            <div class="col-sm-5" style="padding: 0;">Item Name</div>
            <div class="col-sm-2" style="padding: 0;">Price</div>
            <div class="col-sm-2" style="padding: 0;">Quantity</div>
            <div class="clear"></div>
        <div class="form-group" style="margin-bottom: 0;" id="tableDiv" style="height:180px; OVERFLOW-Y: auto; OVERFLOW-X:hidden ">
            <!--<div  id="div0">-->
                <!--<input  type="text" name="itemCode0" id="itemCode0">-->
                <!--<input  type="text" name="itemName0" id="itemName0">-->
                <!--<input  type="text" name="price0" id="price0">-->
                <!--<input  type="text" name="quantity0" id="quantity0">-->
                <!--<input  type="button" value="-"    onclick="delButton('div0');"/>-->
            <!--</div>-->
        </div>
        </div>




        <!--</div>-->


        <div class="form-group" style="margin-top: 5px;">
            <div class="form-control-static" style="text-align: right; padding-right: 15px;">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button th:onclick="'javascript:layer_close()'" class="btn btn-danger" type="button">Close</button>
            </div>
        </div>
    </form>


</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/plugins/autoComplete/jquery.autocomplete.min.js"></script>
<link rel="stylesheet" href="/js/plugins/autoComplete/jquery-ui.css">
<script  type="text/javascript" src="/js/plugins/autoComplete/jquery-ui.js"></script>
 <script type="text/javascript" src="/feng/sales/quote/add.js"></script>

</body>
</html>
