<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">

<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-quote-edit">
        <table >
            <tr>
                <td width="750px" valign="top">

                    <input id="quoteId" name="quoteId"  type="hidden" th:value="${quote.quoteId}" />
                    <input name="customerId"  type="hidden" id="customerId"  th:value="${quote.customerId}"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label ">Quote Date:</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="quoteDate" id="quoteDate" th:value="${quote.quoteDate}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label ">Customer Name:</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="customerName" id="customerName" th:value="${quote.customerName}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Reminder:</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="reminder" id="reminder" th:value="${quote.reminder}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Remark:</label>
                        <div class="col-sm-8">
                            <input id="remark" name="remark" class="form-control" type="text" th:value="${quote.remark}">
                        </div>
                    </div>

                    <div style="border: 1px solid #ddd; border-bottom: 0; padding: 10px; background: #f2f2f2;">
                        <input class="btn btn-info" style="padding: 3px 6px; border-radius: 0;" type="button" value="Add Quote Data"  id="add"/></div>
                    <div style="border: 1px solid #ddd; padding: 10px;">
                        <div class="col-sm-1" style="width:30px; padding: 0;">&nbsp;</div>
                        <div class="col-sm-2" style="padding: 0;">Item Code</div>
                        <div class="col-sm-3" style="padding: 0;">Item Name</div>
                        <div class="col-sm-2" style="padding: 0;">Spec</div>
                        <div class="col-sm-2" style="width:90px; padding: 0;">Price</div>
                        <div class="col-sm-2" style="width:90px; padding: 0;">Quantity(KG)</div>
                        <div class="clear"></div>
                        <div class="form-group" style="max-height: 140px; OVERFLOW-Y: auto; OVERFLOW-X:hidden; margin-right: -5px; margin-bottom: 0;" id="tableDiv">
                            <div style="height: 34px; padding: 0px 10px 0px 16px;" th:id = "'div'+${iterStat.index}" th:each="quoteData,iterStat :${quoteBodies}" th:onclick="'javascript:checkRadio(\'div'+${iterStat.index}+'\');'">
                                <input  type="hidden" name="itemId" th:id = "'itemId'+${iterStat.index}" th:value="${quoteData.quoteBodyId}">
                                <input  type="radio" class="col-sm-1" name="showedItem" th:id = "'radio'+${iterStat.index}" th:value="${quoteData.itemCode}" style="width:30px; vertical-align:text-bottom; margin-bottom:2px; margin-bottom:-2px;">
                                <input  type="text" class="col-sm-2" name="itemCode" readonly="true" th:id = "'itemCode'+${iterStat.index}" th:value="${quoteData.itemCode}" style="color:blue; margin: 0px -1px;">
                                <input  type="text" class="col-sm-3" name="itemName" readonly="true" th:id = "'itemName'+${iterStat.index}" th:value="${quoteData.itemName}" style="color:blue; margin: 0px -1px;">
                                <input  type="text" class="col-sm-2" name="specification" readonly="true" th:id = "'specification'+${iterStat.index}" th:value="${quoteData.specification}" style="color:blue; margin: 0px -1px;">
                                <input  type="text" class="col-sm-2" name="price" th:id = "'price'+${iterStat.index}" th:value="${quoteData.price}" style="width:90px; margin: 0px -1px;">
                                <input  type="text" class="col-sm-2" name="quantity" th:id = "'quantity'+${iterStat.index}" th:value="${quoteData.quantity}" style="width:90px; margin: 0px -1px;">
                                <button  type="button" class="col-sm-1" th:onclick="'javascript:delButton(\'div'+${iterStat.index}+'\');'" style="margin: 0px 0px 0px 3px; height: 24px; padding: 0px;">Remove</button>
                            </div>
                        </div>
                    </div>

                </td>
                <td width="20px"><span>&nbsp;</span>
                </td>
                <td width="350px" valign="top">
                    <div class="form-group" style="max-height: 460px; OVERFLOW-Y: auto; OVERFLOW-X:hidden; margin-right: -5px; margin-bottom: 0;" id="referenceDiv">
                        <div style="border: 1px solid #ddd; border-bottom: 0; padding: 10px; background: #f2f2f2;">For Reference</div>
                    </div>

                </td>
            </tr>

        </table>


        <div class="form-group">
            <div class="form-control-static col-sm-offset-9">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button th:onclick="'javascript:layer_close()'" class="btn btn-danger" type="button">Close</button>
            </div>
        </div>
    </form>
</div>



<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/plugins/autoComplete/jquery.autocomplete.min.js"></script>
<link rel="stylesheet" href="/js/plugins/autoComplete/jquery-ui.css">
<script  type="text/javascript" src="/js/plugins/autoComplete/jquery-ui.js"></script>
<script type="text/javascript" src="/feng/sales/quote/edit.js"/>

</body>
</html>
